<div class="container-fluid p-5">
                <div class="container mx-auto">
                  <div class="row">
                    <div class="col-lg-4">
                      <h1 class="text-center "><b>Choose your perfect card</b></h1>

                    </div>
                    <div class="col-lg-4">
                      <img src="assets/image/visa.jpg" alt="">
                      </div>
                      <div class="col-lg-4">
                          <img src="assets/image/master.PNG" alt="">
                        </div>
                  </div>

                </div>
              </div>