<div class="container p-3">
                <div class="card text-center border-0">
                  <div class="card-header ">
                    <h1>Card Features and Benefits</h1>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="card border-0">
                          <div class="card-body">
                              <img src="assets/image/gift.jpg" alt="">
                              <h2 class="p-3">Rewards</h2>
                              <p>You earn Reward Points on various Financial and Non-financial Internet banking transactions on your computer as well as on SBI Anywhere Personal App </p>

                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="card border-0">
                            <div class="card-body">
                                <img src="assets/image/travel.jpg" alt="">
                                <h2 class="p-3">Travel</h2>
                                <p>You earn Reward Points on various Financial and Non-financial Internet banking transactions on your computer as well as on SBI Anywhere Personal App </p>
  
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card border-0">
                              <div class="card-body">
                                  <img src="assets/image/graph.png" class="w-65" alt="">
                                  <h2>Low interest</h2>
                                  <p>You earn Reward Points on various Financial and Non-financial Internet banking transactions on your computer as well as on SBI Anywhere Personal App </p>
    
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="card border-0">
                          <div class="card-body">
                              <img src="assets/image/balance transfer.jpg" alt="">
                              <h2 class="p-3">Balance Transfer</h2>
                              <p>You earn Reward Points on various Financial and Non-financial Internet banking transactions on your computer as well as on SBI Anywhere Personal App </p>

                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="card border-0">
                            <div class="card-body">
                                <img src="assets/image/cash back.jpg" alt="">
                                <h2 class="p-3">Cash Back</h2>
                                <p>You earn Reward Points on various Financial and Non-financial Internet banking transactions on your computer as well as on SBI Anywhere Personal App </p>
  
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card border-0">
                              <div class="card-body">
                                  <img src="assets/image/zeropercent.jpg" alt="">
                                  <h2 class="p-3">zero percent</h2>
                                  <p>You earn Reward Points on various Financial and Non-financial Internet banking transactions on your computer as well as on SBI Anywhere Personal App </p>
    
                              </div>
                            </div>
                          </div>
                    </div>
                  </div>
                </div>

              </div>
              