
              <div class="container">
                <div class="card border-0 w-75 m-2 mx-auto">
                  <div class="card-header text-center">
                    <h1>Business Ranking</h1>
                  </div>
                  <div class="card-body ">
                    <div class="conta">
                      <div class="media">
                          <img src="assets/image/bill.jpeg" class="mr-3" alt="...">
                          <div class="media-body">
                            <h2 class="mt-0">Transforming the way you pay.Explore new ways to pay</h2>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>